{% extends "base_kitchen.html" %}

{% block title %}초기화면{% endblock %}

{% block login_form %}{% endblock %}

{% block post_title %} {{ block.super }} {% endblock %}

{% block post_entry %} {{ block.super }} {% endblock %}

{% block addition %}

    <div class="container">
    <div class="about">
    <div class="about-top">
    <h3>관리자</h3>
    <div class="top-about">
        <li>pinebud : <a href="mailto:pinebud77@hotmail.com">pinebud77@hotmail.com</a></li>
    </div>
    </div>
    </div>
    </div>
{% endblock %}