{% extends "base_kitchen.html" %}

{% block title %}센서노드 정보 : {{ sensor_node.user.username }} - {{ sensor_node.name }}{% endblock %}

{% block login_form %}
    {% if user.is_authenticated %}
        <div class="container">
        <div class="about">
        <div class="about-top">
        <h3>User</h3>
        <div class="top-about">
{{ user.username }} <a href="/sensor/logout/" class="more">로그아웃</a>
        </div>
        </div>
        </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block addition %}{% endblock %}

{% block post_title %}센서노드 : {{ sensor_node.user.username }} - {{ sensor_node.name }}{% endblock %}

{% block post_entry %}
<table  width="560px" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
        <td style="width: 100px; height: 35px; text-align: center;">항목</td>
        <td style="height: 35px; text-align: center;">MAC</td>
        <td style="height: 35px; text-align: center;">보고주기</td>
        <td style="height: 35px; text-align: center;">정지시알람</td>
    </tr>
    <tr>
        <td style="width: 100px; height: 35px; text-align: center;">값</td>
        <td style="height: 35px; text-align: center;">{{ sensor_node.mac_address }}</td>
        <td style="height: 35px; text-align: center;">{{ sensor_node.reporting_period }}분</td>
        <td style="height: 35px; text-align: center;">{{ sensor_node.warning_period }}분</td>
    </tr>
    </tbody>
</table>
<br/>

{% for sensor in sensors %}
<table width="560px" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
        <td style="width: 100px; height: 35px; text-align: center;">항목</td>
        <td style="height: 35px; text-align: center;">형식</td>
        <td style="height: 35px; text-align: center;">제한</td>
    </tr>
    <tr>
        <td style="width: 100px; height: 35px; text-align: center;">값</td>
        <td style="width: 100px; text-align: center;">
            {{ sensor.get_type_string }}
        </td>
        <td style="text-align: center;">
            {% if sensor.low_threshold != None %}
            {{ sensor.low_threshold }}
            {% else %}
            없음
            {% endif %}
            ~
            {% if sensor.high_threshold != None %}
            {{ sensor.high_threshold }}
            {% else %}
            없음
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

    {% if sensor.pic %}
        {{ sensor.pic|safe }}
    {% else %}
        범위안에 센서 데이터가 없습니다.
        <br/>
    {% endif %}
<br/>
{% if display_fmt != 'hour' %}
<a href="/sensor/sensornode/{{ sensor_node.id }}/hour/" class="more">시간</a>
{% endif %}
{% if display_fmt != 'day' %}
<a href="/sensor/sensornode/{{ sensor_node.id }}/day/" class="more">일</a>
{% endif %}
{% if display_fmt != 'week' %}
<a href="/sensor/sensornode/{{ sensor_node.id }}/week/" class="more">주</a>
{% endif %}
{% if display_fmt != 'month' %}
<a href="/sensor/sensornode/{{ sensor_node.id }}/month/" class="more">월</a>
{% endif %}
{% if display_fmt != 'year' %}
<a href="/sensor/sensornode/{{ sensor_node.id }}/year/" class="more">년</a>
{% endif %}
<a href="/sensor/sensornode/{{ sensor_node.id }}/{{ display_fmt }}/{{ time_offset_prev }}/" class="more">&lt</a>
{% if time_offset_next != -1 %}
<a href="/sensor/sensornode/{{ sensor_node.id }}/{{ display_fmt }}/{{ time_offset_next }}/" class="more">&gt</a>
{% endif %}

<br/><br/><br/>
{% endfor %}

{% endblock %}