{% extends "base_mobile.html" %}

{% block title %}초기화면{% endblock %}

{% block login_form %}
    {% if user.is_authenticated %}
        <div class="container">
        <div class="about">
        <div class="about-top">
        <h3>User</h3>
        <div class="top-about">
{{ user.username }} <a href="/sensor/logout/" class="more">로그아웃</a>
        </div>
        </div>
        </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block post_title %} {{ block.super }} {% endblock %}

{% block post_entry %} {{ block.super }} {% endblock %}

{% block addition %}

    <div class="container">
    <div class="about">
    <div class="about-top">
    <h3>Todo List</h3>
    <div class="top-about">
        <li>Mobile page format</li>
        <li>Interface for user configuration</li>
        <li>cleaner site design</li>
        <li>graph sort out</li>
    </div>
    </div>
    </div>
    </div>
{% endblock %}