{% extends "base_mobile.html" %}

{% block title %}Sensor List for the User : {{ username }}{% endblock %}

{% block login_form %}
    {% if user.is_authenticated %}
        <div class="container">
        <div class="about">
        <div class="about-top">
        <h3>User</h3>
        <div class="top-about">
{{ username }} <a href="/sensor/logout/" class="more">로그아웃</a>
        </div>
        </div>
        </div>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}


{% block post_title %}{% endblock %}

{% block post_entry %}{% endblock %}

{% block addition %}
<div class="container">
    <div class="about">
        <div class="about-top">
            <h3>Phone Number</h3>
        <div class="top-about">
            {% if phone_numbers %}
                {% for number in phone_numbers %}
                <li>{{ number }}</li>
                {% endfor %}
            {% else %}
                전화번호가 등록되지 않았습니다.
            {% endif %}
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="about">
        <div class="about-top">
        <h3>Sensor Info</h3>
        <div class="top-about">
<table style="text-align: left; width: 600px; height: 60px;"
 border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="width: 162px; text-align: center;">Node
Name</td>
      <td style="width: 53px; text-align: center;">Rpt</td>
      <td style="width: 65px; text-align: center;">형식</td>
      <td style="width: 47px; text-align: center;">값</td>
      <td style="width: 107px; text-align: center;">범위</td>
      <td style="width: 55px; text-align: center;">동작</td>
    </tr>
    {% for sensor in sensors %}

    <tr>
      <td style="width: 162px; text-align: center;">
          <a href=/sensor/sensornode/{{ sensor.sensor_node.id }}/>{{ sensor.sensor_node.name }}</a></td>
      <td style="width: 53px; text-align: center;">{{ sensor.sensor_node.reporting_period }}</td>
      <td style="width: 65px; text-align: center;">
          {% if sensor.type == 0 %}온도{% endif %}
          {% if sensor.type == 1 %}습도{% endif %}
      </td>
      <td style="width: 47px; text-align: center;">{% if not sensor.inactive %}{{ sensor.last_value }}{% else %}없음{% endif %}</td>
      <td style="width: 107px; text-align: center;">
          {% if sensor.low_threshold != None %}{{ sensor.low_threshold|floatformat:"0" }}{% else %}X{% endif %}
                ~
                {% if sensor.high_threshold != None %}{{ sensor.high_threshold|floatformat:"0" }}{% else %}X{% endif %}
      </td>
      <td style="width: 55px; text-align: center;">{% if not sensor.inactive %}O{% else %}X{% endif %}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
        </div>
        </div>
    </div>
</div>
{% endblock %}