{% extends "base.html" %}

{% block title %}초기화면{% endblock %}

{% block login_form %}
    {% if user.is_authenticated %}
        사용자명 : {{ user.username }} (<a href="/sensor/logout/">로그아웃</a>)
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block post_title %} {{ block.super }} {% endblock %}

{% block post_entry %} {{ block.super }} {% endblock %}

{% block addition %}

<div class="title">
    <h2 style=""width: 890px;"><a href="#">Todo List</a></h2>
</div>
<div class=""entry">
<p style="width: 895px;">
    <li>Mobile page format</li>
    <li>Interface for user configuration</li>
    <li>cleaner site design</li>
    <li>graph sort out</li>
</p>
</div>

{% endblock %}